<link rel="stylesheet" href="../../assets/stylesheets/application.css">
<form action="answer" data-turbo="false">
  <input class="input-box" type="text" name="coach_question" placeholder="****************">
  <input class="btn-primary" type="submit" value="Ask!">
      <div class="container2">
      <p>Ask your coach anything:</p>
    </div>
</form>
